<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <handlers>
      <add name="iisnode" path="server/iis_start.cjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeAPI" stopProcessing="true">
          <match url=".*api/.*" />
          <action type="Rewrite" url="server/iis_start.cjs" />
        </rule>
      </rules>
    </rewrite>

    <!-- ESSA É A LINHA MÁGICA QUE FALTAVA PARA O WEBSOCKET FUNCIONAR NO IISNODE -->
    <webSocket enabled="false" />

    <httpErrors existingResponse="PassThrough" />
    <iisnode nodeProcessCommandLine="node.exe" devErrorsEnabled="true" debuggingEnabled="true" loggingEnabled="true" />
    
    <security>
      <ipSecurity allowUnlisted="true">
        <add ipAddress="10.0.0.100" allowed="true" />
        <add ipAddress="10.0.0.0" subnetMask="10.255.255.255" allowed="true" />
      </ipSecurity>
    </security>
    
  </system.webServer>
</configuration>