<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <title>Painel - Auditoria de processo</title>
        <meta name="viewport" content="width=device-width", inital-scale=1, user-scalable="no" />
        <link rel="stylesheet" href="/assets/css/main.css"/>
        <link rel="stylesheet" href="/assets/css/noscript.css"/>
        <link rel="stylesheet" href="/src/components/page_painel_auditoria_processos/css/painel_auditoria_processos.css"/>
    </head>
    <body class="is-preload">
        <h1>ESSA PAGINA ESTA EM MANUTENÇÃO, FAVOR VOLTAR</h1>
    </body>
</html>